/* Responsive cho PC, min-width: 1024px nghĩa là nó sẽ áp dụng những thuộc tính trong phần PC
khi độ rộng >= 1024 */
/* Vì ở project này thì PC ngon rồi nên kh6ng cần responsive nữa */
@media (min-width: 1024px) {

}

/* Responsive cho Tablet & Mobile */
/* Vì có những Bugs có thể fix 1 lần cả Tablet và Mobile nên không cần Responsive cho từng cái */
/* MObile thì < 740, Tablet thì từ 740 đến 1023, thế nên responsive cho cả 2 thì từ 0 đến 1023 */
/* Fix này là fix Bug UX (Nâng cao trải nghiệm người dùng) */
@media (max-width: 1023px) {
    .btn {
        padding: 16px 16px;
    }

    #nav .subnav a {
        padding: 5px 12px;
    }


    /* Begin: Contact Form */
    .contact-form .form-control {
        padding: 15px;
    }

    .contact-info{
        line-height: 2;
    }
    /* End: Contact Form */


    /* Begin: Footer */
    #footer .socials-list {
        font-size: 48px;
    }
    

    #footer .copyright a {
        padding: 12px 0;
        /* Thêm  display: inline-block để nó tách với các icon bên trên mới thấy sự thây đổi */
        display: inline-block;
    }
    /* End: Footer */

}


/* Responsive cho Tablet (iPad), min-width: 1024px nghĩa là nó sẽ áp dụng những thuộc tính trong 
phần tablet khi độ rộng >= 740 & < 1024*/
/* Vì project nầy đơn giản nên ở bài 54 thì đã responsive luôn Tablet rồi */
@media (min-width: 740px) and (max-width: 1023px) {
    #footer .socials-list a {
        margin: 0 8px;
    }
}

/* Responsive cho Mobile, min-width: 1024px nghĩa là nó sẽ áp dụng những thuộc tính trong 
phần mobile khi độ rộng < 740*/
@media (max-width: 740px) {
    /* Common Classes */
    /* Class s-full-width để nó chiếm hết chiều rộng. Mặc dù 2 class chung này nó có chung thuộc tính 
    là witth 100% nhưng phải đặt 2 class khác nhau để khi dùng cho nó chính xác. Trong trường hợp này 
    s-full-width 100% để responsive cho Submit Button, mà Submit button nó không phải là cột, nên nếu 
    dùng class 's-col-full' vào thì không hợp ngữ nghĩa chút nào, sau này dễ gây hiểu nhầm*/
    .s-full-width,
    .s-col-full {
        width: 100% !important;    
    }
    

    .s-mt-8 {
        margin-top: 8px !important;
    }






    /* Begin: Header */
    #header {
        overflow: hidden;
    }

    /* Ẩn nut search đi vì mẫu W3 ko có nút đó ở dạng mobile */
    #header .search-btn {
        display: none;
    }

    #header .mobile-menu-btn {
        display: block;
    }

    /* (Chapter 9 lesson 56) Fix bugs để khi menu hiện ra thì users click vào vùng trống của các thẻ trong menu thì nó
    vẫn hoặc động chứ không chỉ click đúng cái tên của các mục trong Menu Mobile */
    /* Bugs này do nó không kế thừa hết chiều ngang nên nó có thể là display block hoặc inline block */
    #nav {
        display: block;
    }

    #nav li a {
        /* Bên mobile thì cho nút cao lên 1 tí cho dễ bấm */
        padding: 1px 24px;
    }

    #nav > li{
        /* display: block; thì từng thẻ li trong nav nó sẽ thành block nên nó sẽ xếp theo chiều dọc thay
        vì ban đầu nó là chiều ngang */
        display: block;
    }

    /* Fix bugs khi user click vào vùng trống của thẻ li (HOME) vì sau này vùng trống này rất có thể là 
    sẽ thêm những mục khác, nếu mà click vào vùng trống này mà nó vẫn có tác dụng thì không được, nên cho
    nó tác dụng khi click đúng chữ HOME, vì chỉ có nút HOME mới cần thuộc tính inline block cho nó không
    kế thừa chiều ngang nên dùng 'first-child' để responsive đúng thẻ con đầu tiên của thẻ ul #nav mà thôi, còn 
    những thẻ li con khác thì vẩn display block cho nó chiếm hết chiều rộng màng hình, vì chỉ có giao diện mobile mới
    cần nút HOME như vậy nên responsive trong file này chứ không làm bên file style.css */
    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        /* (Chapter 9 lesson 57) bên mobile thì không cần position: absolute nến responsive riêng cho mobile
        là position:initial cho nó về mặt định */
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        /* Tăng chiều cao của nút lên cho dễ bấm và padding trái phải lên để tạo cảm giác khi click vào MORE sổ subnav 
        xuống thì nhìn là biết subnav là con MORE, chứ ban đầu nó thục ra trước cả MORE là không được */
        padding: 5px 41px;
    }

    /* End: Header */

    /* Begin: Content section */
    #content .member-item {
        margin-top: 30px;
        width: 100%;
    }

    #content .member-img {
        width: 60%;
    }
    /* End: Content section */

    /* Begin: Contact Form */
    .contact-form {
        margin-top: 32px;
    }
    /* End: Contact Form */


    

}