/* Reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* scroll-behavior: smooth là hành vi khi cuộn, nó sẽ tạo cảm giác cuộn khi ta click vào 
    các nút dẫn đến page tương ứng trên thanh navigation (Phần 8 bài 51) */
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/* Trình tự Css: */
/*
    1. Từ ngoài vào trong 
    2. Từ trên xuống dưới
    3. Tổng quan đến chi tiết
*/
/*
    1. vị trí
    2. kích thước
    3. màu sắc
    4. kiểu dáng (kiểu chữ, hình tròn, vuông, ...)
*/



 /* Common (là những class chung hoặc những cái dùng chung */

/* Fix: xóa bỏ hiệu ứng float của những tag con khiến 
tag chứa nó không thể ôm các tag con */
/* Đặt ở đây vì sẽ dùng nhỉu (bug này ở phút 12:45 chapter 8 lesson 43 */
.clear {
    clear: both;
}

/* Tạo 1 class text white để sữ dụng cho các nội dung muốn chữ có màu trắng */
.text-white {
    /* đặt important để ưu tiên nhất */
    color: #fff !important;
}

/* Class chung 'text-center' sẽ dùng cho những chỗ cần căn giữa, nên tạo hẵn class dùng chung */
/* Note: những class nào chỉ css duy nhất 1 thuộc tính như class 'text-center' thì nên thêm
important vào để tránh bị ghi đè, còn những class nhìu thuộc tính thì không cần */
.text-center {
    text-align: center !important;
}

/* Tạo ra class chung 'pull-right' nghĩa là kéo sang phải, ở project này thì nó áp dụng cho botton 'Submit' */
.pull-right {
    float: right !important;
}

/* Tạo class chung 'mt-8' cho những thằng cần đẩy lên 8px, vì nó có xuất hiện nhiều nên ta tạo class
chung này */
.mt-8 {
    margin-top: 8px !important;
}

/* Tương tự mt-8 bên trên */
.mt-16 {
    margin-top: 16px !important;
}

/* Tạo class btn này vì tất cả các botton đều y nhau nên cho nó vào phần dùng chung để đở phải 
css lại nhiều */
.btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    margin-top: 15px;
    /* cho display = inline-block để nó ko bị lấn 
    lên trên sau khi padding */
    display: inline-block;
    border: none;

}

.btn:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

/* Hàng */
.row {
    margin-left: -8px;
    margin-right: -8px;
}

/* Trong trường hợp thẻ cha không ôm hết thẻ con thì thường ta sẻ dùng 1 thẻ div có class 'clear'
, nhưng cách đó làm code rất xấu. Nên, bây giờ ta sẽ tạo 1 element giả. Chúng ta thường đặt thẻ div 'clear'
cuối thẻ cha để xứ lý trường hợp này, nên bây giờ ta cũng đặt element giả là 'after' để cho nó giải quyết vấn đề,
không dùng lớp giả 'before vì nó sẽ chèn vào đầu div cha */

/* Dùng cách này thì những class 'row' cần ôm hết class con của nó thì ta sẽ không cần thêm div 'clear' vào html nữa,
ta sẽ xóa đi những class 'row' bên html mà lúc trước ta đã tạo, */
.row::after {
    content: "";
    display: block;
    clear: both;
}

/* Cột */
.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

/* Class chung khi hàng chỉ có 1 cột */
.col-full {
    width: 100%;
}

/* Class chung khi hàng có 2 cột */
.col-half {
    /* 100 chia 2 */
    width: 50%;
}

/* Class chung khi hàng có 3 cột */
.col-third {
    /* 100 chia 3 */
    width: 33.33333%;
}




/* Main */
#main {

}

/* Begin: Header */

#header {
    /* Cho header dinh sat ben tren trinh duyet khi scroll xuong */
    position: fixed;
    top: 0;
    left: 0; 
    right: 0;
    /* ================== */

    height: 46px;
    background-color: #000;

    /* Fix bug background cua slider 
    che di phan header */
    /* Bug nay o phut thu 26:00 
    Chapter 8 - Lesson 41 */
    z-index: 1;


}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a, 
#nav .subnav li:hover a  {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    position:absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

/* Begin: Icon arrow down and search */

#nav .nav-arrow-down {
    font-size: 16px;
}

#header .search-btn {
    float: right;
    padding: 0 21px;
}

#header .search-btn:hover {
    cursor: pointer;
    background-color: #f44336;
}

#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

/* End: Icon arrow down and search */

/* End: Header */


/* Begin: Slider */

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat;

    
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    
    /* Cach 1 can giua */
    /* left: 50%;
    transform: translateX(-50%); */

    /* Cach 2 can giua */
    width: 100%;

    /* Cach 3 can giua */
    /* left: 0;
    right: 0; */

    /* Note: Cach nao don gian va hieu qua thi lam, 
    biet nhieu cach de tuy co ung bien */

    text-align: center;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-decription {
    font-size: 15px;
    margin-top: 25px;
}

/* End: Slider */



/* Begin: Content */
#content {

}

#content .content-section {
    width: 800px;
    /* padding bottom = 112 vì nó lấy bottom bang dầu là 64 và padding thêm 48px nữa nên là tổng
    padiing bottom là 112px (Bài 50)  */
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
}

/* Begin: About section */
#content .section-heading {
    font-size: 30px;
    /* font-weight giam độ dày của nét chữ */
    font-weight: 500;
    /* Căn chữ ra giữa */
    text-align: center;
    /* Cho từng ký tự trong chữ THE BAND cách xa nhau 1 khoảng tầm 4px */
    letter-spacing: 4px;
}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    /* Chữ nghiên */
    font-style: italic;
    /* Cho chữ mờ thêm 1 tý. Mờ còn 0.6 = 60% */
    opacity: 0.6;
}

#content .about-text {
    font-size: 15px;
    margin-top: 25px;
    /* Căn đều giữa 2 bên lề */
    text-align: justify;
    /* Khoảng cách giữa các hàng: Tiếng việt thì đặt 1.6, Tiếng Anh thì là 1.4 */
    line-height: 1.4;
}

#content .member-list {
    margin-top: 48px;
}

/*#content .member-item {
    float: left;
    (comment) Canh 2 mép của 3 item bằng mép chữ phí trên about-text 
    (comment) Cách 1: có 3 item, mỗi item = 33.33333 cộng lại sẽ bằng 100%
    width: 33.33333%; 
    (comment)Cách 2: Sữ dụng hàm để chia 
     width: calc(100% / 3); 

    text-align: center;

    (comment)(Bài 48) Sau khi áp dụng row-colume layout thì xóa luôn float: left; 
    width: 33.33333%; 
    (comment) Bỏ luôn class 'member-item' vì chỉ còn 'text-align: center', mà text-align: center
    thì cần dùng nhiều trong project nên tạo cho nó 1 class riêng có tên 'text-center'  
}*/

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    width: 154px;
    margin-top: 15px;
    /* Bo tròn gốc */
    border-radius: 4px;
}
/* End: About section */

/* Begin: Tour section */
    /* Begin: Tickets */
    #content .tour-section {
        background: #000;
    }

    #content .tickets-list {
        margin-top: 40px;
        list-style: none;
        background-color: #fff;
    }

    #content .tickets-list li { 
        color: #757575;   
        font-size: 15px;
        padding: 11px 16px;
        border-bottom: 1px solid #ddd;
    }

    #content .tickets-list .sold-out {
        background-color: #f44336;
        color: #fff;
        padding: 3px 4px;
        margin-left: 16px;
    }

    #content .tickets-list .quatity {
        float: right;
        width: 24px;
        height: 24px;
        background-color: #000;
        color: #fff;
        border-radius: 50%;
        text-align: center;
        line-height: 24px;
        /* Note: 1 thẻ có tính chất inline khi thêm 
        float vào thì dc hỉu thẻ này có display là block,
        có tính chất block nên đặt được width height, nhờ 
        vậy mà có thể margin top là số âm để di chuyên ngược lên */
        margin-top: -3px;
    }
    /* End: Tickets */

    /* Begin: Places */
    .places-list {
        /* margin-top: 32px; */
        /* Thêm 2 margin âm 2 bên để cho 2 mép của các item nó sát mép 2 bên trái và phải */
        /* margin-left: -8px; */
        /* margin-right: -8px; */

        /* Viet gop 3 hàng trên lại, margin bottom = 16px + 32px = 48px (chưa áp dụng
        row - colume layout) */
        /* margin: 32px -8px 48px; */

        /* Sau khi áp dụng row - colume layout thì xóa 'margin: 32px -8px 48px' bên trên và 
        sửa lại như sau: (vì trái phải -8px đã thừa hưởng từ class 'row' bên trên khi thêm 
        class 'row' vào phần html */
        margin-top: 32px;     
    }
    
    /* Sau khi css chung class 'col-third {width: 33.33333%' thì xóa lun class 'place-item' 
    cả bên css và html */
    /* .place-item 
        width: 33.33333%;

        ( float: left;
        padding: 0 8px;  (Chưa áp dụng row - colume layout) )

        (comment) Sau khi áp dụng row - colume layout thì bỏ 'float: left và
        padding: 0 8px' vì nó đã thừa hưởng class 'col' đã css ở phần Common, việc bây giờ
        là thêm class 'col' vào html của 'place-item' là xong 
    */

    
    .place-img {
        /* Thêm width = 100% thì nó sẽ bằng kích thước thẻ 
        chứa nó, nó sẽ không vượt quá nữa */
        width: 100%;
        /* Cho nó thành display = block vì trước đó là có tính chất inline
        nên nó tạo ra 1 khoảng trống cách với block "place-body" phía dưới,
        2 khối block kế nhau thì không có khoảng trống đó nữa */
        display: block;
    }
    
    .place-img:hover {
        opacity: 0.6;
    }

    .place-body {
        padding: 16px;
        font-size: 15px;
        background-color: #fff;
    }

    .place-heading {
        font-size: 15px;
        font-weight: 600;
    }

    .place-time {
        margin-top: 15px;
        color: #757575;
    }

    .place-description {
        margin-top: 15px;
        line-height: 1.4;
    }

    
    /* End: Places */

    /* Begin: Modal bật lên khi nhấn vào nút Buy Tickets */
    .modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        /* Tạo background mờ mờ phủ cả giao diện */
        background: rgba(0, 0, 0, 0.4);
        align-items: center;
        justify-content: center;
        /* display: flex thi model ticket mới hiện lên, nhưng mặc 
        định thì nó ẩn đi cho tới khi user click vào button, 
        nên đặt display: none   */
        display: none;
    }

    .modal.open {
        /* class 'modal' có thêm class 'open' thì phần css bên dưới sẽ được thực thi,
        display: flex để nó hiện Modal Ticket lên */
        display: flex;
    }

    .modal-container {
        background: #fff;
        width: 900px;
        /* Đăt max-width: calc(100% - 32px) nghĩa là khi ta kéo 
        màn hình nhỏ lại dưới chiều rộng width: 900px thì cái
        modal ticket nó không có dính xác 2 mép của màn hình mà
        vẫn cách 2 bên trái phải của modal ticket mỗi bên 16px, xem nó
        như là responsive cho modal ticket */
        max-width: calc(100% - 32px);
        min-height: 200px;
        position: relative;

        /* Thêm 1 thuộc tính css animation để áp dụng animation có keyframes tên là 'modalFadeIn' 
        vừa viết bên dưới, muốn áp dụng animation này cho thằng nào thì thêm vào thằng đó, ở 
        đây ta áp dụng cho class 'modal-container' */
        /* Note: 'ease' là kiểu chuyển động lúc nhanh lúc chậm */
        /* Note:  0.5s (0.5 giây) là tổng thời gian mà animation này diễn ra và kết thúc */
        animation: modalFadeIn ease 0.5s;
    }

    /* Begin: modal-header */
    .modal-header {
        background: #009688;
        height: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        color: #fff;
    }

    .modal-heading-icon {
        margin-right: 16px;
    }
    /* End: modal-header */
    
    
    /* Begin: modal-close */
    .model-close {
        position: absolute;
        right: 0;
        top: 0;
        color: #fff;
        padding: 12px;
        cursor: pointer;
        /* Cho dấu Close lúc người dùng chưa click nó mờ mờ xíu */
        opacity: 0.8;
    }

    .model-close:hover {
        /* Sau khi hover vào nút Close thì nút close sáng lên tạo 
        cảm giác có thể click cho người dùng */
        opacity: 1;
    }
    /* End: modal-close */


    /* Begin: modal-body */
    .modal-body {
        padding: 16px;
    }

    .modal-label {
        display: block;
        font-size: 15px;
        margin-bottom: 12px;
    }

    .modal-input {
        border: 1px solid #ccc;
        width: 100%;
        font-size: 15px;
        padding: 10px;
        margin-bottom: 24px;
    }

    #buy-tickets {
        background: #009688;
        border: none;
        color: #fff;
        width: 100%;
        font-size: 15px;
        text-transform: uppercase;
        padding: 18px;
        cursor: pointer;
    }

    #buy-tickets:hover {
        opacity: 0.9;
    }

    /* End: modal-body */


    /* Begin: modal-footer */
        .modal-footer {
            padding: 16px;
            text-align: right;
        }
        
        .modal-footer a {
            color: #2196F3;
        }
    /* End: modal-footer */


    /* Thêm 1 cái keyframes để tạo chuyển động mượt mà khi users click vào nút
    Buy Ticket ở phần Tour thì cái Modal ticket sẽ xuất hiện với 1 animation  */
    /* Kế tiếp là đặt tên cho keyframes có tên 'modalFadeIn' */
    @keyframes modalFadeIn {
        /* Trong keyframes có from (từ đâu) và to (đến đâu) */
        from{
            /* Muốn nó chạy từ trên xuống từ dùng thuộc tính transform với translateY (trục đứng)
            một khoảng bằng -140px (trừ ngược để nó đi lên), có thể test thử việc này bằng cách
            thêm  transform: translateY(-140px) vào class 'modal-container' bên tab Style của trình 
            duyệt để ước lượng điểm bắt đầu chạy của Modal Ticket */
            transform: translateY(-140px);

            /* Muốn cho nó xuất hiện từ mờ dần dần đến khi nó rõ */
            opacity: 0;
        }
        to {
            /* Điểm kết thúc là 0 là vị trí ban đầu của Modal Ticket (chính giữa màn hình)  */
            transform: translateY(0px);

            /* Điểm kết thúc thì opacity: 1 là rõ nét */
            opacity: 1;
        }
    }
    /* End: Modal bật lên khi nhấn vào nút Buy Tickets */
/* End: Tour section */



/* Begin: Contact Section */

    /* Begin: Contact Info */
    .contact-content {
        margin-top: 48px;
    }

    .contact-info {
        font-size: 18px;
        line-height: 0.5;
    }

    /* Cách selector này là cách css selector nâng cao, ý nghĩa là 
    css cho tất cả thẻ i thuộc class 'contact-info' có class chứa cái chuỗi 'ti-' */
    .contact-info i[class*="ti-"] {
        width: 30px;
        display: inline-block;
    }
    /* End: Contact Info */

    /* Begin: Contact Form */
        .contact-form {
            font-size: 15px;
        }

        .contact-form .form-control {
            padding: 10px;
            border: 1px solid #ccc;
            width: 100%;
            /* outline là cái viền cho ô input, chỉnh outline y như border */
            outline: 1px solid #229954 ;
            cursor: pointer;
        }


        /* Xóa bỏ class này vì nó dùng class chung 'btn' rồi, cái này do teacher ko xem kỹ nên 
        viết thừa 1 class làm code bị dài (Bài 50) */
        /* .contact-form .form-submit-btn {
            background-color: #000;
            color: #fff;
            (comment) Thăng border vì nó có viền mặt định màu khác nên tà cách cho nó màu đen 
            hoặc border=none cũng được 
            border: 1px solid #000;
            padding: 10px 16px;
            (comment) float:right để đẩy sang bên phải 
            float: right;
            cursor: pointer;
        } */

    /* End: Contact Form */
/* End: Contact Section */


/* Begin: Map Image */

/* End: Map Image */
.map-section img {
    width: 100%;
}

/* End: Content */


/* Begin: Footer */
#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list {
    font-size: 24px;
}

#footer .socials-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .copyright a,
#footer .socials-list a:hover {
    color: rgba(0, 0, 0, 0.4);
    
}

#footer .copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}
/* End: Footer */
