/* Reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/*
    1. Từ ngoài vào trong 
    2. Từ trên xuống dưới
    3. Tổng quan đến chi tiết
*/

/*
    1. vị trí
    2. kích thước
    3. màu sắc
    4. kiểu dáng (kiểu chữ, hình tròn, vuông, ...)


*/

/* Fix: xóa bỏ hiệu ứng float của những tag con khiến 
tag chứa nó không thể ôm các tag con */
/* Đặt ở đây vì sẽ dùng nhỉu (bug này ở phút 12:45 chapter 8 lesson 43 */
.clear {
    clear: both;
}

/* Tạo 1 class text white để sữ dụng cho các nội dung muốn chữ có màu trắng */
.text-white {
    /* đặt important để ưu tiên nhất */
    color: #fff !important;
}


#main {

}

/* Begin: Header */

#header {
    /* Cho header dinh sat ben tren trinh duyet khi scroll xuong */
    position: fixed;
    top: 0;
    left: 0; 
    right: 0;
    /* ================== */

    height: 46px;
    background-color: #000;

    /* Fix bug background cua slider 
    che di phan header */
    /* Bug nay o phut thu 26:00 
    Chapter 8 - Lesson 41 */
    z-index: 1;


}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a, 
#nav .subnav li:hover a  {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    position:absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

/* Begin: Icon arrow down and search */

#nav .nav-arrow-down {
    font-size: 16px;
}

#header .search-btn {
    float: right;
    padding: 0 21px;
}

#header .search-btn:hover {
    cursor: pointer;
    background-color: #f44336;
}

#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

/* End: Icon arrow down and search */

/* End: Header */


/* Begin: Slider */

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat;

    
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    
    /* Cach 1 can giua */
    /* left: 50%;
    transform: translateX(-50%); */

    /* Cach 2 can giua */
    width: 100%;

    /* Cach 3 can giua */
    /* left: 0;
    right: 0; */

    /* Note: Cach nao don gian va hieu qua thi lam, 
    biet nhieu cach de tuy co ung bien */

    text-align: center;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-decription {
    font-size: 15px;
    margin-top: 25px;
}

/* End: Slider */



/* Begin: Content */
#content {

}

#content .content-section {
    width: 800px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
}

/* Begin: About section */
#content .section-heading {
    font-size: 30px;
    /* font-weight giam độ dày của nét chữ */
    font-weight: 500;
    /* Căn chữ ra giữa */
    text-align: center;
    /* Cho từng ký tự trong chữ THE BAND cách xa nhau 1 khoảng tầm 4px */
    letter-spacing: 4px;
}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    /* Chữ nghiên */
    font-style: italic;
    /* Cho chữ mờ thêm 1 tý. Mờ còn 0.6 = 60% */
    opacity: 0.6;
}

#content .about-text {
    font-size: 15px;
    margin-top: 25px;
    /* Căn đều giữa 2 bên lề */
    text-align: justify;
    /* Khoảng cách giữa các hàng: Tiếng việt thì đặt 1.6, Tiếng Anh thì là 1.4 */
    line-height: 1.4;
}

#content .member-list {
    margin-top: 48px;
}

#content .member-item {
    float: left;
    /* Canh 2 mép của 3 item bằng mép chữ phí trên about-text */
    /* Cách 1: có 3 item, mỗi item = 33.33333 cộng lại sẽ bằng 100%*/
    width: 33.33333%; 
    /* Cách 2: Sữ dụng hàm để chia */
    /* width: calc(100% / 3); */
    text-align: center;
}

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    width: 154px;
    margin-top: 15px;
    /* Bo tròn gốc */
    border-radius: 4px;
}
/* End: About section */

/* Begin: Tour section */
    /* Begin: Tickets */
    #content .tour-section {
        background: #000;
    }

    #content .tickets-list {
        margin-top: 40px;
        list-style: none;
        background-color: #fff;
    }

    #content .tickets-list li { 
        color: #757575;   
        font-size: 15px;
        padding: 11px 16px;
        border-bottom: 1px solid #ddd;
    }

    #content .tickets-list .sold-out {
        background-color: #f44336;
        color: #fff;
        padding: 3px 4px;
        margin-left: 16px;
    }

    #content .tickets-list .quatity {
        float: right;
        width: 24px;
        height: 24px;
        background-color: #000;
        color: #fff;
        border-radius: 50%;
        text-align: center;
        line-height: 24px;
        /* Note: 1 thẻ có tính chất inline khi thêm 
        float vào thì dc hỉu thẻ này có display là block,
        có tính chất block nên đặt được width height, nhờ 
        vậy mà có thể margin top là số âm để di chuyên ngược lên */
        margin-top: -3px;
    }
    /* End: Tickets */

    /* Begin: Places */
    .places-list {
        /* margin-top: 32px; */
        /* Thêm 2 margin âm 2 bên để cho 2 mép của các item nó sát mép 2 bên trái và phải */
        /* margin-left: -8px; */
        /* margin-right: -8px; */

        /* Viet gop 3 hàng trên lại, margin bottom = 16px + 32px = 48px*/
        margin: 32px -8px 48px;
       
    }
    
    .place-item {
        float: left;
        width: 33.33333%;
        padding: 0 8px;
        

    }

    
    .place-img {
        /* Thêm width = 100% thì nó sẽ bằng kích thu7oc1 thẻ 
        chứa nó, nó sẽ không vượt quá nữa */
        width: 100%;
        /* Cho nó thành display = block vì trước đó là có tính chất inline
        nên nó tạo ra 1 khoảng trống cách với block "place-body" phía dưới,
        2 khối block kế nhau thì không có khoảng trống đó nữa */
        display: block;
    }
    
    .place-img:hover {
        opacity: 0.6;
    }

    .place-body {
        padding: 16px;
        font-size: 15px;
        background-color: #fff;
    }

    .place-heading {
        font-size: 15px;
        font-weight: 600;
    }

    .place-time {
        margin-top: 15px;
        color: #757575;
    }

    .place-description {
        margin-top: 15px;
        line-height: 1.4;
    }

    .place-buy-btn {
        color: #fff;
        background-color: #000;
        text-decoration: none;
        padding: 11px 16px;
        margin-top: 15px;
        /* cho display = inline-block để nó ko bị lấn 
        lên trên sau khi padding */
        display: inline-block;
    }

    .place-buy-btn:hover {
        color: #000;
        background-color: #ccc;
    }


    /* End: Places */

/* End: Tour section */


/* End: Content */


#footer {

}
